namePrefix: production-
commonLabels:
  variant: production
bases:
  - ../../base
patchesStrategicMerge:
  - deployment.yaml
  - config-map.yaml
images:
  - name: reachnaveen/springboot-app
    newTag: production-4 # Set dynamically from Jenkins
