namePrefix: production-
commonLabels:
  variant: production
bases:
  - ../../base
patchesStrategicMerge:
  - deployment.yaml
configMapGenerator:
  - name: springboot-app-config
    files:
      - application.properties
generatorOptions:
  disableNameSuffixHash: true
images:
  - name: reachnaveen/springboot-app
    newTag: "prod-20" # Set dynamically from Jenkins
